.login-form-container,
.signup-form-container {
    width: 100%;
    padding: 5%;
    transition: all 0.3s ease;
}

p.error {
    display: inline-block;
    color: red;
}

.form-credentials {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* .form-credentials #email::placeholder {
    font-weight:lighter;
} */

form button {
    margin-top: 24px;
    width: 100%;
}

.login-form-container.hidden,
.signup-form-container.hidden {
    display: none;
}

.login-form-container.active,
.signup-form-container.active {
    display: block;
}

.signup-date-of-birth-container {
    display: flex;
    flex-direction: column;
}


#gender,
#signup-email,
#signup-phone,
.new-pass,
.confirm-pass {
    display: block;
    width: 100%;
}
